html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    font-family: 'Poppins', sans-serif;

}

header {
    height: 100vh;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

h1 {
    margin: 0 auto;
    padding: 20px;
    font-size: 70px;
    border-right: black 1.5px solid;
}

p {
    margin-left: 10px;
    padding: 5px;
    
    font-weight: 200;
}

.mode {
    display: flex;
    flex-direction: column;
    margin: 10px 0 35px 0;
}

button {
    height: 30px;
    width: 200px;
    border-radius: 30px;
    margin: 10px;

    cursor: pointer;
}

.stats {
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
}

.container {
    width: 700px;
    height: 700px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background-color: gray;
    border: 1px solid darkgray;
    -webkit-box-shadow: 5px 4px 20px 3px rgba(0, 0, 0, 0.58) inset;
    -moz-box-shadow: 5px 4px 20px 3px rgba(0, 0, 0, 0.58) inset;
    box-shadow: 5px 4px 20px 3px rgba(0, 0, 0, 0.58) inset;
}

.gameboard {
    width: 680px;
    height: 680px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
}

.memory-cards {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.back-face {
    background-color: black;
    border-radius: 25px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 4px;
}

.front-face {
    /* rgb color for randomized card color -> js*/
    border-radius: 25px;
    background-color: blue;
    transform: rotateY(180deg);
    box-shadow: 4px 4px;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

/* flipped class from js */
.flip-card.flipped {
    /* need this to actually flip */
    transform: rotateY(180deg);
}

.memory-cards:active {
    /* shrink then expand affect */
    transform: scale(0.90);
    transition: transform .2s;
}

.congratulations {
    text-align: center;
}

.links {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

img{
    width: 20px;
}